.remote
  - simple_form_for(@product, :remote => true, :html => one_submit_only(:product)) do |f|
    = link_to_close edit_product_path(@product)
    = f.error_messages
    = render :partial => "products/form", :locals => { :f => f, :edit => true }
    .buttonbar
      = f.submit t(:save_product)
      #{t :or}
      = link_to_cancel edit_product_path(@product)
