%li.highlight[product]
  //= avatar_for(product, :size => "30x30")

  %ul.tools
    = hook(:product_tools_before, self, :product => product)

    - if can?(:update, product)
      %li= link_to_edit(product)

    - if shown_on_landing_page?
      %li= link_to_discard(product)

    - if can?(:destroy, product)
      %li= link_to_delete(product)

  .indentslim
    = link_to_if can?(:read, product), product.name(), product
    %tt
      //= brief_account_info(product)
      %b= product.name
      %b= product.description

      //- if (lead = product.lead) and lead.referred_by?
      //  &ndash;
      //  == #{t :referred_by_small} #{lead.referred_by}

    %dt{ :style => "padding: 2px 0px 0px 0px" }
    //  - if can?(:read, contact)
    //    - if contact.email.present?
    //      = link_to_email(contact.email)
    //      |
    //    - if contact.phone.present?
    //      == #{t :phone_small}:
    //      %b= contact.phone
    //    |
    //    - if contact.mobile.present?
    //      == #{t :mobile_small}:
    //      %b= contact.mobile
    //      |
    = t(:added_ago, value: timeago(product.created_at)).html_safe

    //- if product.tag_list.present?
    //  %dt
    //    .tags= tags_for_index(product)

    = hook(:product_bottom, self, :product => product)
